@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300;400;500;600;700&display=swap');
        
*{
    margin: 0;
    padding: 0;
    font-family: 'Teko', sans-serif;
}

.container{
    display: flex;
    flex-direction: column; 
    height: 92vh;
    gap: 1rem;
    padding-top: 3rem;
    background-image: url(../../Portifolio/img/relogio3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container h1{
    color: #175cff;
    font-size: 95px;
    letter-spacing: 1.5px;
    margin-left: 120px;
    margin-top: 175px;
}

.timer{
    display: flex;
    font-size: 55px;
    font-weight: bold;
    color: #333;
    margin-left: 160px;
}

.time{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    min-width: 90px;
    color: #172953;  
}

.separator{
    padding: 0 10px;
}

#milliseconds{
    font-size: 30px;
}

.buttons{
    display: flex;
    gap: 1rem;
    margin-left: 240px;
}

.btn{
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn:hover{
    transform: scale(1.1);
}

#startBtn{
    background-color: #f71111;
    color: #fff;
}

#pauseBtn, #resumeBtn{
    display: none;
}  